link(type="text/css", rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.css")
script(type="text/javascript", src="/libs/jquery/dist/jquery.js")
script(type="text/javascript", src="/libs/bootstrap/dist/js/bootstrap.js")